.menu {
	position: fixed;
	background-color:#222222;
	opacity:.95;
	top:5px;
	border-top-style:solid;
	border-top-width:17px;
	border-top-color:#222222;
	min-width:100%;
}

.menu-logo-container {
	height:5em;
   	width:12em;
	position: absolute;
   	top: 2%;
   	transform: translate(0, 0%);
   	margin-left:3%;
	border-style:solid;
	border-radius:.5em;
	border-color:#222222;
	background-color:#222222;	
	display:table;
}	

.menu-logo-link {
	display: table-cell;
	vertical-align: middle;
}

.menu-logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width:10em;	
}

.menu-items {
	display:flex;
	justify-content: space-between;
	width:65%;
	margin:auto;
}

.menu-spacer {
	width:25em;
	border-style:solid;
	border-color:white;
}

.menu-items-collapse {
	/*position:fixed;*/
	/*left:30%;*/
	/*padding-left:25em;*/
}

#HQ_page p{
	text-align:center;
	font-size:initial;
}

.footer {
	background-color:#222222;
	display:flex;
	flex-wrap:wrap;
	padding-top:0px;
	padding-bottom:0px;
}

.footer .igem_2018_team_content .igem_2018_team_column_wrapper div h1{
	/*background-color:white;*/
	text-align:center;
	color:white;
}

.footer .igem_2018_team_content .igem_2018_team_column_wrapper div p{
	/*background-color:#222222;*/
	text-align:center;
	color:#cccccc;
}

.footer .igem_2018_team_content .igem_2018_team_column_wrapper div .footer-text-link{
	text-decoration:none;
}

.footer .igem_2018_team_content .igem_2018_team_column_wrapper div .footer-text-link p{
	-webkit-transition-property:color; /* Safari */
    -webkit-transition-duration: .5s; /* Safari */
    transition-property:color;
    transition-duration: :.5s;
}

.footer .igem_2018_team_content .igem_2018_team_column_wrapper div .footer-text-link p:hover{
	color:white;
}

.social {
	filter:invert(75%);
	-webkit-transition-property: filter; /* Safari */
    -webkit-transition-duration: .5s; /* Safari */
    transition-property: filter;
    transition-duration: .5s;
}

.social-purdue {
	display: block;
    margin-left: auto;
    margin-right: auto;
	/*height:5em;
	width:auto;*/
}

.social:hover {
	filter:invert(100%);
}
